<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhou.mapper.sys.SysDeptMapper">
    <resultMap id="BaseResultMap" type="com.zhou.entity.sys.SysDept">
        <id column="ID" property="id"/>
        <result column="DEPT_NAME" property="deptName"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="DPET_REGION" property="dpetRegion"/>
        <result column="DEPT_LOGO" property="deptLogo"/>
        <result column="DEPT_PIC_PATH" property="deptPicPath"/>
        <result column="DEPT_LEVEL" property="deptLevel"/>
        <result column="DEPT_ORDER" property="deptOrder"/>
        <result column="CREATE_USERID" property="createUserid"/>
        <result column="CREATE_USERNAME" property="createUsername"/>
        <result column="CREATE_USER_ORG" property="createUserOrg"/>
        <result column="CREATE_USER_ORGNAME" property="createUserOrgname"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="IS_DEL_RADIO" property="isDelRadio"/>
        <result column="IS_ENABLE_RADIO" property="isEnableRadio"/>
    </resultMap>
    <sql id="Base_Column_List">
                ID
                          ,
        
            DEPT_NAME
                          ,
        
            PARENT_ID
                          ,
        
            DPET_REGION
                          ,
        
            DEPT_LOGO
                          ,
        
            DEPT_PIC_PATH
                          ,
        
            DEPT_LEVEL
                          ,
        
            DEPT_ORDER
                          ,
        
            CREATE_USERID
                          ,
        
            CREATE_USERNAME
                          ,
        
            CREATE_USER_ORG
                          ,
        
            CREATE_USER_ORGNAME
                          ,
        
            CREATE_TIME
                          ,
        
            UPDATE_TIME
                          ,
        
            IS_DEL_RADIO
                          ,
        
            IS_ENABLE_RADIO
                
        </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_DEPT
        where
        ID = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from SYS_DEPT
        where
                          ID = #{id}
                                                                                                                                                                                                                                                                </delete>

    <insert id="insert" parameterType="com.zhou.entity.sys.SysDept">
        insert into SYS_DEPT (
                ID
                          ,
                    DEPT_NAME
                          ,
                    PARENT_ID
                          ,
                    DPET_REGION
                          ,
                    DEPT_LOGO
                          ,
                    DEPT_PIC_PATH
                          ,
                    DEPT_LEVEL
                          ,
                    DEPT_ORDER
                          ,
                    CREATE_USERID
                          ,
                    CREATE_USERNAME
                          ,
                    CREATE_USER_ORG
                          ,
                    CREATE_USER_ORGNAME
                          ,
                    CREATE_TIME
                          ,
                    UPDATE_TIME
                          ,
                    IS_DEL_RADIO
                          ,
                    IS_ENABLE_RADIO
                            )
        values (
                    #{id
                          ,
                    #{deptName
                          ,
                    #{parentId
                          ,
                    #{dpetRegion
                          ,
                    #{deptLogo
                          ,
                    #{deptPicPath
                          ,
                    #{deptLevel
                          ,
                    #{deptOrder
                          ,
                    #{createUserid
                          ,
                    #{createUsername
                          ,
                    #{createUserOrg
                          ,
                    #{createUserOrgname
                          ,
                    #{createTime
                          ,
                    #{updateTime
                          ,
                    #{isDelRadio
                          ,
                    #{isEnableRadio
                            )
    </insert>

    <insert id="insertSelective" parameterType="com.zhou.entity.sys.SysDept">
        insert into SYS_DEPT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                ID,
            </if>
            <if test="deptName !=null">
                DEPT_NAME,
            </if>
            <if test="parentId !=null">
                PARENT_ID,
            </if>
            <if test="dpetRegion !=null">
                DPET_REGION,
            </if>
            <if test="deptLogo !=null">
                DEPT_LOGO,
            </if>
            <if test="deptPicPath !=null">
                DEPT_PIC_PATH,
            </if>
            <if test="deptLevel !=null">
                DEPT_LEVEL,
            </if>
            <if test="deptOrder !=null">
                DEPT_ORDER,
            </if>
            <if test="createUserid !=null">
                CREATE_USERID,
            </if>
            <if test="createUsername !=null">
                CREATE_USERNAME,
            </if>
            <if test="createUserOrg !=null">
                CREATE_USER_ORG,
            </if>
            <if test="createUserOrgname !=null">
                CREATE_USER_ORGNAME,
            </if>
            <if test="createTime !=null">
                CREATE_TIME,
            </if>
            <if test="updateTime !=null">
                UPDATE_TIME,
            </if>
            <if test="isDelRadio !=null">
                IS_DEL_RADIO,
            </if>
            <if test="isEnableRadio !=null">
                IS_ENABLE_RADIO,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id},
            </if>
            <if test="deptName !=null">
                #{deptName},
            </if>
            <if test="parentId !=null">
                #{parentId},
            </if>
            <if test="dpetRegion !=null">
                #{dpetRegion},
            </if>
            <if test="deptLogo !=null">
                #{deptLogo},
            </if>
            <if test="deptPicPath !=null">
                #{deptPicPath},
            </if>
            <if test="deptLevel !=null">
                #{deptLevel},
            </if>
            <if test="deptOrder !=null">
                #{deptOrder},
            </if>
            <if test="createUserid !=null">
                #{createUserid},
            </if>
            <if test="createUsername !=null">
                #{createUsername},
            </if>
            <if test="createUserOrg !=null">
                #{createUserOrg},
            </if>
            <if test="createUserOrgname !=null">
                #{createUserOrgname},
            </if>
            <if test="createTime !=null">
                #{createTime},
            </if>
            <if test="updateTime !=null">
                #{updateTime},
            </if>
            <if test="isDelRadio !=null">
                #{isDelRadio},
            </if>
            <if test="isEnableRadio !=null">
                #{isEnableRadio},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhou.entity.sys.SysDept">
        update SYS_DEPT
        <trim prefix="set" suffixOverrides=",">
            <if test="deptName !=null ">
                DEPT_NAME=#{deptName},
            </if>
            <if test="parentId !=null ">
                PARENT_ID=#{parentId},
            </if>
            <if test="dpetRegion !=null ">
                DPET_REGION=#{dpetRegion},
            </if>
            <if test="deptLogo !=null ">
                DEPT_LOGO=#{deptLogo},
            </if>
            <if test="deptPicPath !=null ">
                DEPT_PIC_PATH=#{deptPicPath},
            </if>
            <if test="deptLevel !=null ">
                DEPT_LEVEL=#{deptLevel},
            </if>
            <if test="deptOrder !=null ">
                DEPT_ORDER=#{deptOrder},
            </if>
            <if test="createUserid !=null ">
                CREATE_USERID=#{createUserid},
            </if>
            <if test="createUsername !=null ">
                CREATE_USERNAME=#{createUsername},
            </if>
            <if test="createUserOrg !=null ">
                CREATE_USER_ORG=#{createUserOrg},
            </if>
            <if test="createUserOrgname !=null ">
                CREATE_USER_ORGNAME=#{createUserOrgname},
            </if>
            <if test="createTime !=null ">
                CREATE_TIME=#{createTime},
            </if>
            <if test="updateTime !=null ">
                UPDATE_TIME=#{updateTime},
            </if>
            <if test="isDelRadio !=null ">
                IS_DEL_RADIO=#{isDelRadio},
            </if>
            <if test="isEnableRadio !=null ">
                IS_ENABLE_RADIO=#{isEnableRadio},
            </if>
        </trim>
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
        </where>
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhou.entity.sys.SysDept">
        update SYS_DEPT
        <trim prefix="set" suffixOverrides=",">
            <if test="deptName !=null ">
                DEPT_NAME=#{deptName},
            </if>
            <if test="parentId !=null ">
                PARENT_ID=#{parentId},
            </if>
            <if test="dpetRegion !=null ">
                DPET_REGION=#{dpetRegion},
            </if>
            <if test="deptLogo !=null ">
                DEPT_LOGO=#{deptLogo},
            </if>
            <if test="deptPicPath !=null ">
                DEPT_PIC_PATH=#{deptPicPath},
            </if>
            <if test="deptLevel !=null ">
                DEPT_LEVEL=#{deptLevel},
            </if>
            <if test="deptOrder !=null ">
                DEPT_ORDER=#{deptOrder},
            </if>
            <if test="createUserid !=null ">
                CREATE_USERID=#{createUserid},
            </if>
            <if test="createUsername !=null ">
                CREATE_USERNAME=#{createUsername},
            </if>
            <if test="createUserOrg !=null ">
                CREATE_USER_ORG=#{createUserOrg},
            </if>
            <if test="createUserOrgname !=null ">
                CREATE_USER_ORGNAME=#{createUserOrgname},
            </if>
            <if test="createTime !=null ">
                CREATE_TIME=#{createTime},
            </if>
            <if test="updateTime !=null ">
                UPDATE_TIME=#{updateTime},
            </if>
            <if test="isDelRadio !=null ">
                IS_DEL_RADIO=#{isDelRadio},
            </if>
            <if test="isEnableRadio !=null ">
                IS_ENABLE_RADIO=#{isEnableRadio},
            </if>
        </trim>
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="deptName !=null and deptName !=''">
                and DEPT_NAME=#{deptName}
            </if>
            <if test="parentId !=null">
                and PARENT_ID=#{parentId}
            </if>
            <if test="dpetRegion !=null">
                and DPET_REGION=#{dpetRegion}
            </if>
            <if test="deptLogo !=null and deptLogo !=''">
                and DEPT_LOGO=#{deptLogo}
            </if>
            <if test="deptPicPath !=null and deptPicPath !=''">
                and DEPT_PIC_PATH=#{deptPicPath}
            </if>
            <if test="deptLevel !=null">
                and DEPT_LEVEL=#{deptLevel}
            </if>
            <if test="deptOrder !=null">
                and DEPT_ORDER=#{deptOrder}
            </if>
            <if test="createUserid !=null">
                and CREATE_USERID=#{createUserid}
            </if>
            <if test="createUsername !=null and createUsername !=''">
                and CREATE_USERNAME=#{createUsername}
            </if>
            <if test="createUserOrg !=null">
                and CREATE_USER_ORG=#{createUserOrg}
            </if>
            <if test="createUserOrgname !=null and createUserOrgname !=''">
                and CREATE_USER_ORGNAME=#{createUserOrgname}
            </if>
            <if test="createTime !=null">
                and CREATE_TIME=#{createTime}
            </if>
            <if test="updateTime !=null">
                and UPDATE_TIME=#{updateTime}
            </if>
            <if test="isDelRadio !=null">
                and IS_DEL_RADIO=#{isDelRadio}
            </if>
            <if test="isEnableRadio !=null">
                and IS_ENABLE_RADIO=#{isEnableRadio}
            </if>
        </where>
    </update>

    <select id="selectSysDeptAll" parameterType="com.zhou.entity.sys.SysDept" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from SYS_DEPT
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="deptName !=null and deptName !=''">
                and DEPT_NAME=#{deptName}
            </if>
            <if test="parentId !=null">
                and PARENT_ID=#{parentId}
            </if>
            <if test="dpetRegion !=null">
                and DPET_REGION=#{dpetRegion}
            </if>
            <if test="deptLogo !=null and deptLogo !=''">
                and DEPT_LOGO=#{deptLogo}
            </if>
            <if test="deptPicPath !=null and deptPicPath !=''">
                and DEPT_PIC_PATH=#{deptPicPath}
            </if>
            <if test="deptLevel !=null">
                and DEPT_LEVEL=#{deptLevel}
            </if>
            <if test="deptOrder !=null">
                and DEPT_ORDER=#{deptOrder}
            </if>
            <if test="createUserid !=null">
                and CREATE_USERID=#{createUserid}
            </if>
            <if test="createUsername !=null and createUsername !=''">
                and CREATE_USERNAME=#{createUsername}
            </if>
            <if test="createUserOrg !=null">
                and CREATE_USER_ORG=#{createUserOrg}
            </if>
            <if test="createUserOrgname !=null and createUserOrgname !=''">
                and CREATE_USER_ORGNAME=#{createUserOrgname}
            </if>
            <if test="createTime !=null">
                and CREATE_TIME=#{createTime}
            </if>
            <if test="updateTime !=null">
                and UPDATE_TIME=#{updateTime}
            </if>
            <if test="isDelRadio !=null">
                and IS_DEL_RADIO=#{isDelRadio}
            </if>
            <if test="isEnableRadio !=null">
                and IS_ENABLE_RADIO=#{isEnableRadio}
            </if>

        </where>
        order by ID asc
    </select>

    <select id="selectSysDeptbyCondition" parameterType="com.zhou.entity.sys.SysDept" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_DEPT
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="deptName !=null and deptName !=''">
                and DEPT_NAME=#{deptName}
            </if>
            <if test="parentId !=null">
                and PARENT_ID=#{parentId}
            </if>
            <if test="dpetRegion !=null">
                and DPET_REGION=#{dpetRegion}
            </if>
            <if test="deptLogo !=null and deptLogo !=''">
                and DEPT_LOGO=#{deptLogo}
            </if>
            <if test="deptPicPath !=null and deptPicPath !=''">
                and DEPT_PIC_PATH=#{deptPicPath}
            </if>
            <if test="deptLevel !=null">
                and DEPT_LEVEL=#{deptLevel}
            </if>
            <if test="deptOrder !=null">
                and DEPT_ORDER=#{deptOrder}
            </if>
            <if test="createUserid !=null">
                and CREATE_USERID=#{createUserid}
            </if>
            <if test="createUsername !=null and createUsername !=''">
                and CREATE_USERNAME=#{createUsername}
            </if>
            <if test="createUserOrg !=null">
                and CREATE_USER_ORG=#{createUserOrg}
            </if>
            <if test="createUserOrgname !=null and createUserOrgname !=''">
                and CREATE_USER_ORGNAME=#{createUserOrgname}
            </if>
            <if test="createTime !=null">
                and CREATE_TIME=#{createTime}
            </if>
            <if test="updateTime !=null">
                and UPDATE_TIME=#{updateTime}
            </if>
            <if test="isDelRadio !=null">
                and IS_DEL_RADIO=#{isDelRadio}
            </if>
            <if test="isEnableRadio !=null">
                and IS_ENABLE_RADIO=#{isEnableRadio}
            </if>
        </where>
    </select>
</mapper>