<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhou.mapper.sys.SysRoleMapper">
    <resultMap id="BaseResultMap" type="com.zhou.entity.sys.SysRole">
        <id column="ID" property="id"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="CREATE_USERID" property="createUserid"/>
        <result column="CREATE_USERNAME" property="createUsername"/>
        <result column="CREATE_USER_ORG" property="createUserOrg"/>
        <result column="CREATE_USER_ORGNAME" property="createUserOrgname"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="IS_DEL" property="isDel"/>
        <result column="IS_ENABLE" property="isEnable"/>
    </resultMap>
    <sql id="Base_Column_List">
                ID
                          ,
        
            ROLE_NAME
                          ,
        
            CREATE_USERID
                          ,
        
            CREATE_USERNAME
                          ,
        
            CREATE_USER_ORG
                          ,
        
            CREATE_USER_ORGNAME
                          ,
        
            CREATE_TIME
                          ,
        
            UPDATE_TIME
                          ,
        
            IS_DEL
                          ,
        
            IS_ENABLE
                
        </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where
        ID = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from sys_role
        where
                          ID = #{id}
                                                                                                                                                                </delete>

    <insert id="insert" parameterType="com.zhou.entity.sys.SysRole">
        insert into sys_role (
                ID
                          ,
                    ROLE_NAME
                          ,
                    CREATE_USERID
                          ,
                    CREATE_USERNAME
                          ,
                    CREATE_USER_ORG
                          ,
                    CREATE_USER_ORGNAME
                          ,
                    CREATE_TIME
                          ,
                    UPDATE_TIME
                          ,
                    IS_DEL
                          ,
                    IS_ENABLE
                            )
        values (
                    #{id
                          ,
                    #{roleName
                          ,
                    #{createUserid
                          ,
                    #{createUsername
                          ,
                    #{createUserOrg
                          ,
                    #{createUserOrgname
                          ,
                    #{createTime
                          ,
                    #{updateTime
                          ,
                    #{isDel
                          ,
                    #{isEnable
                            )
    </insert>

    <insert id="insertSelective" parameterType="com.zhou.entity.sys.SysRole">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                ID,
            </if>
            <if test="roleName !=null">
                ROLE_NAME,
            </if>
            <if test="createUserid !=null">
                CREATE_USERID,
            </if>
            <if test="createUsername !=null">
                CREATE_USERNAME,
            </if>
            <if test="createUserOrg !=null">
                CREATE_USER_ORG,
            </if>
            <if test="createUserOrgname !=null">
                CREATE_USER_ORGNAME,
            </if>
            <if test="createTime !=null">
                CREATE_TIME,
            </if>
            <if test="updateTime !=null">
                UPDATE_TIME,
            </if>
            <if test="isDel !=null">
                IS_DEL,
            </if>
            <if test="isEnable !=null">
                IS_ENABLE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id},
            </if>
            <if test="roleName !=null">
                #{roleName},
            </if>
            <if test="createUserid !=null">
                #{createUserid},
            </if>
            <if test="createUsername !=null">
                #{createUsername},
            </if>
            <if test="createUserOrg !=null">
                #{createUserOrg},
            </if>
            <if test="createUserOrgname !=null">
                #{createUserOrgname},
            </if>
            <if test="createTime !=null">
                #{createTime},
            </if>
            <if test="updateTime !=null">
                #{updateTime},
            </if>
            <if test="isDel !=null">
                #{isDel},
            </if>
            <if test="isEnable !=null">
                #{isEnable},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhou.entity.sys.SysRole">
        update sys_role
        <trim prefix="set" suffixOverrides=",">

            <if test="roleName !=null ">
                ROLE_NAME=#{roleName},
            </if>
            <if test="createUserid !=null ">
                CREATE_USERID=#{createUserid},
            </if>
            <if test="createUsername !=null ">
                CREATE_USERNAME=#{createUsername},
            </if>
            <if test="createUserOrg !=null ">
                CREATE_USER_ORG=#{createUserOrg},
            </if>
            <if test="createUserOrgname !=null ">
                CREATE_USER_ORGNAME=#{createUserOrgname},
            </if>
            <if test="createTime !=null ">
                CREATE_TIME=#{createTime},
            </if>
            <if test="updateTime !=null ">
                UPDATE_TIME=#{updateTime},
            </if>
            <if test="isDel !=null ">
                IS_DEL=#{isDel},
            </if>
            <if test="isEnable !=null ">
                IS_ENABLE=#{isEnable},
            </if>
        </trim>
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
        </where>
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhou.entity.sys.SysRole">
        update sys_role
        <trim prefix="set" suffixOverrides=",">
            <if test="id !=null ">
                ID=#{id},
            </if>
            <if test="roleName !=null ">
                ROLE_NAME=#{roleName},
            </if>
            <if test="createUserid !=null ">
                CREATE_USERID=#{createUserid},
            </if>
            <if test="createUsername !=null ">
                CREATE_USERNAME=#{createUsername},
            </if>
            <if test="createUserOrg !=null ">
                CREATE_USER_ORG=#{createUserOrg},
            </if>
            <if test="createUserOrgname !=null ">
                CREATE_USER_ORGNAME=#{createUserOrgname},
            </if>
            <if test="createTime !=null ">
                CREATE_TIME=#{createTime},
            </if>
            <if test="updateTime !=null ">
                UPDATE_TIME=#{updateTime},
            </if>
            <if test="isDel !=null ">
                IS_DEL=#{isDel},
            </if>
            <if test="isEnable !=null ">
                IS_ENABLE=#{isEnable},
            </if>
        </trim>
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="roleName !=null">
                and ROLE_NAME=#{roleName}
            </if>
            <if test="createUserid !=null">
                and CREATE_USERID=#{createUserid}
            </if>
            <if test="createUsername !=null">
                and CREATE_USERNAME=#{createUsername}
            </if>
            <if test="createUserOrg !=null">
                and CREATE_USER_ORG=#{createUserOrg}
            </if>
            <if test="createUserOrgname !=null">
                and CREATE_USER_ORGNAME=#{createUserOrgname}
            </if>
            <if test="createTime !=null">
                and CREATE_TIME=#{createTime}
            </if>
            <if test="updateTime !=null">
                and UPDATE_TIME=#{updateTime}
            </if>
            <if test="isDel !=null">
                and IS_DEL=#{isDel}
            </if>
            <if test="isEnable !=null">
                and IS_ENABLE=#{isEnable}
            </if>
        </where>
    </update>

    <select id="selectSysRoleAll" parameterType="com.zhou.entity.sys.SysRole" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from sys_role
        <where>

            <if test="roleName !=null and  roleName!=''">
                and ROLE_NAME like '%'||#{roleName}||'%'
            </if>

            <if test="createTime !=null ">
                and CREATE_TIME=#{createTime}
            </if>

            <if test="isDel !=null ">
                and IS_DEL=#{isDel}
            </if>
            <if test="isEnable !=null ">
                and IS_ENABLE=#{isEnable}
            </if>
        </where>
    </select>

    <select id="selectSysRolebyCondition" parameterType="com.zhou.entity.sys.SysRole" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="roleName !=null">
                and ROLE_NAME=#{roleName}
            </if>
            <if test="createUserid !=null">
                and CREATE_USERID=#{createUserid}
            </if>
            <if test="createUsername !=null">
                and CREATE_USERNAME=#{createUsername}
            </if>
            <if test="createUserOrg !=null">
                and CREATE_USER_ORG=#{createUserOrg}
            </if>
            <if test="createUserOrgname !=null">
                and CREATE_USER_ORGNAME=#{createUserOrgname}
            </if>
            <if test="createTime !=null">
                and CREATE_TIME=#{createTime}
            </if>
            <if test="updateTime !=null">
                and UPDATE_TIME=#{updateTime}
            </if>
            <if test="isDel !=null">
                and IS_DEL=#{isDel}
            </if>
            <if test="isEnable !=null">
                and IS_ENABLE=#{isEnable}
            </if>
        </where>
    </select>
</mapper>