<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhou.mapper.sys.SysUserRoleMapper">
    <resultMap id="BaseResultMap" type="com.zhou.entity.sys.SysUserRole">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="ROLE_ID" property="roleId"/>
    </resultMap>
    <sql id="Base_Column_List">
                ID
                          ,
        
            USER_ID
                          ,
        
            ROLE_ID
                
        </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER_ROLE
        where
        ID = #{id}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="com.zhou.entity.sys.SysUserRole">
        delete from SYS_USER_ROLE
        <where>
            <if test="id !=null and id !=''">
                AND ID = #{id}
            </if>
            <if test="userId !=null and userId !=''">
                AND USER_ID = #{userId}
            </if>
        </where>

    </delete>

    <insert id="insert" parameterType="com.zhou.entity.sys.SysUserRole">
        insert into SYS_USER_ROLE (
                ID
                          ,
                    USER_ID
                          ,
                    ROLE_ID
                            )
        values (
                    #{id
                          ,
                    #{userId
                          ,
                    #{roleId
                            )
    </insert>

    <insert id="insertBatch" parameterType="com.zhou.entity.sys.SysUserRole">
        INSERT INTO SYS_USER_ROLE(USER_ID,ROLE_ID)
        <foreach collection="list" index="index" item="item" separator="union all">
            SELECT #{item.userId} , #{item.roleId} from dual
        </foreach>
    </insert>

    <insert id="insertSelective" parameterType="com.zhou.entity.sys.SysUserRole">
        insert into SYS_USER_ROLE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                ID,
            </if>
            <if test="userId !=null">
                USER_ID,
            </if>
            <if test="roleId !=null">
                ROLE_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id !=null">
                #{id},
            </if>
            <if test="userId !=null">
                #{userId},
            </if>
            <if test="roleId !=null">
                #{roleId},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.zhou.entity.sys.SysUserRole">
        update SYS_USER_ROLE
        <trim prefix="set" suffixOverrides=",">
            <if test="userId !=null ">
                USER_ID=#{userId},
            </if>
            <if test="roleId !=null ">
                ROLE_ID=#{roleId},
            </if>
        </trim>
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
        </where>
    </update>

    <update id="updateByPrimaryKey" parameterType="com.zhou.entity.sys.SysUserRole">
        update SYS_USER_ROLE
        <trim prefix="set" suffixOverrides=",">
            <if test="userId !=null ">
                USER_ID=#{userId},
            </if>
            <if test="roleId !=null ">
                ROLE_ID=#{roleId},
            </if>
        </trim>
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="userId !=null">
                and USER_ID=#{userId}
            </if>
            <if test="roleId !=null">
                and ROLE_ID=#{roleId}
            </if>
        </where>
    </update>

    <select id="selectSysUserRoleAll" parameterType="com.zhou.entity.sys.SysUserRole" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from SYS_USER_ROLE
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="userId !=null">
                and USER_ID=#{userId}
            </if>
            <if test="roleId !=null">
                and ROLE_ID=#{roleId}
            </if>
        </where>
    </select>

    <select id="selectSysUserRolebyCondition" parameterType="com.zhou.entity.sys.SysUserRole" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from SYS_USER_ROLE
        <where>
            <if test="id !=null">
                and ID=#{id}
            </if>
            <if test="userId !=null">
                and USER_ID=#{userId}
            </if>
            <if test="roleId !=null">
                and ROLE_ID=#{roleId}
            </if>
        </where>
    </select>
</mapper>