<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.zhou.entity.SysUser">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWORD" jdbcType="VARCHAR" property="password" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="AGE" jdbcType="DECIMAL" property="age" />
    <result column="SEX" jdbcType="DECIMAL" property="sex" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="WEIXIN" jdbcType="VARCHAR" property="weixin" />
    <result column="USERIDENTY" jdbcType="VARCHAR" property="useridenty" />
    <result column="ISDEL" jdbcType="VARCHAR" property="isdel" />
    <result column="ISDISABLE" jdbcType="VARCHAR" property="isdisable" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="LOGINSTATUS" jdbcType="DECIMAL" property="loginstatus" />
    <result column="MENO" jdbcType="VARCHAR" property="meno" />
    <result column="REALNAME" jdbcType="VARCHAR" property="realname" />
    <result column="USER_ORG" jdbcType="VARCHAR" property="userOrg" />
    <result column="USER_HEIGHT" jdbcType="DECIMAL" property="userHeight" />
    <result column="PIC_PATH" jdbcType="VARCHAR" property="picPath" />
    <result column="USER_BIRTHDAY" jdbcType="VARCHAR" property="userBirthday" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USERNAME, PASSWORD, EMAIL, ADDRESS, PHONE, AGE, SEX, QQ, WEIXIN, USERIDENTY, 
    ISDEL, ISDISABLE, CREATETIME, UPDATETIME, LOGINSTATUS, MENO, REALNAME, USER_ORG, 
    USER_HEIGHT, PIC_PATH, USER_BIRTHDAY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SYS_USER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.zhou.entity.SysUser">
    insert into SYS_USER (ID, USERNAME, PASSWORD, 
      EMAIL, ADDRESS, PHONE, 
      AGE, SEX, QQ, WEIXIN, 
      USERIDENTY, ISDEL, ISDISABLE, 
      CREATETIME, UPDATETIME, LOGINSTATUS, 
      MENO, REALNAME, USER_ORG, 
      USER_HEIGHT, PIC_PATH, USER_BIRTHDAY
      )
    values (#{id,jdbcType=DECIMAL}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{age,jdbcType=DECIMAL}, #{sex,jdbcType=DECIMAL}, #{qq,jdbcType=VARCHAR}, #{weixin,jdbcType=VARCHAR}, 
      #{useridenty,jdbcType=VARCHAR}, #{isdel,jdbcType=VARCHAR}, #{isdisable,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{loginstatus,jdbcType=DECIMAL}, 
      #{meno,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, #{userOrg,jdbcType=VARCHAR}, 
      #{userHeight,jdbcType=DECIMAL}, #{picPath,jdbcType=VARCHAR}, #{userBirthday,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhou.entity.SysUser">
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="password != null">
        PASSWORD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="age != null">
        AGE,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="weixin != null">
        WEIXIN,
      </if>
      <if test="useridenty != null">
        USERIDENTY,
      </if>
      <if test="isdel != null">
        ISDEL,
      </if>
      <if test="isdisable != null">
        ISDISABLE,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="updatetime != null">
        UPDATETIME,
      </if>
      <if test="loginstatus != null">
        LOGINSTATUS,
      </if>
      <if test="meno != null">
        MENO,
      </if>
      <if test="realname != null">
        REALNAME,
      </if>
      <if test="userOrg != null">
        USER_ORG,
      </if>
      <if test="userHeight != null">
        USER_HEIGHT,
      </if>
      <if test="picPath != null">
        PIC_PATH,
      </if>
      <if test="userBirthday != null">
        USER_BIRTHDAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=DECIMAL},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=DECIMAL},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="useridenty != null">
        #{useridenty,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="isdisable != null">
        #{isdisable,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginstatus != null">
        #{loginstatus,jdbcType=DECIMAL},
      </if>
      <if test="meno != null">
        #{meno,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="userOrg != null">
        #{userOrg,jdbcType=VARCHAR},
      </if>
      <if test="userHeight != null">
        #{userHeight,jdbcType=DECIMAL},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        #{userBirthday,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhou.entity.SysUser">
    update SYS_USER
    <set>
      <if test="username != null">
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        AGE = #{age,jdbcType=DECIMAL},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=DECIMAL},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        WEIXIN = #{weixin,jdbcType=VARCHAR},
      </if>
      <if test="useridenty != null">
        USERIDENTY = #{useridenty,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        ISDEL = #{isdel,jdbcType=VARCHAR},
      </if>
      <if test="isdisable != null">
        ISDISABLE = #{isdisable,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginstatus != null">
        LOGINSTATUS = #{loginstatus,jdbcType=DECIMAL},
      </if>
      <if test="meno != null">
        MENO = #{meno,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        REALNAME = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="userOrg != null">
        USER_ORG = #{userOrg,jdbcType=VARCHAR},
      </if>
      <if test="userHeight != null">
        USER_HEIGHT = #{userHeight,jdbcType=DECIMAL},
      </if>
      <if test="picPath != null">
        PIC_PATH = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="userBirthday != null">
        USER_BIRTHDAY = #{userBirthday,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhou.entity.SysUser">
    update SYS_USER
    set USERNAME = #{username,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=DECIMAL},
      SEX = #{sex,jdbcType=DECIMAL},
      QQ = #{qq,jdbcType=VARCHAR},
      WEIXIN = #{weixin,jdbcType=VARCHAR},
      USERIDENTY = #{useridenty,jdbcType=VARCHAR},
      ISDEL = #{isdel,jdbcType=VARCHAR},
      ISDISABLE = #{isdisable,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      LOGINSTATUS = #{loginstatus,jdbcType=DECIMAL},
      MENO = #{meno,jdbcType=VARCHAR},
      REALNAME = #{realname,jdbcType=VARCHAR},
      USER_ORG = #{userOrg,jdbcType=VARCHAR},
      USER_HEIGHT = #{userHeight,jdbcType=DECIMAL},
      PIC_PATH = #{picPath,jdbcType=VARCHAR},
      USER_BIRTHDAY = #{userBirthday,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>