<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="lowHeader">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>

    <!--bootstrap 样式-->
    <link th:href="@{/plugins/bootstrapPlus/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrapPlus/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrapPlus/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <!--bootstrap 表格-->
    <link th:href="@{/plugins/bootstrapPlus/bootstrapDialog/css/bootstrap-dialog.min.css}" rel="stylesheet"/>
    <!--bootstrap 验证框架-->
    <link th:href="@{/plugins/bootstrapPlus/BootstrapValidator/css/bootstrapValidator.min.css}" rel="stylesheet"/>
    <!--select2下拉框-->
    <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/css/select2totree.css}" rel="stylesheet"/>

    <link th:href="@{/plugins/toastr-alert/toastr.min.css}" rel="stylesheet"/>

    <!--修改的样式-->
    <link th:href="@{/plugins/zlc-common/css/zlcCss.css}" rel="stylesheet"/>

    <script th:src="@{/plugins/jquery/jquery-1.11.1.js}" type="text/javascript"></script>
    <!--bootstrap table表格-->
    <script th:src="@{/plugins/bootstrapPlus/bootstrap/js/bootstrap.js}" type="text/javascript"></script>

    <script th:src="@{/plugins/bootstrapPlus/bootstrapDialog/js/bootstrap-dialog.min.js}"></script>
    <script th:src="@{/plugins/bootstrapPlus/BootstrapValidator/js/bootstrapValidator.min.js}"></script>
    <!--select2下拉框-->
    <script th:src="@{/plugins/select2/js/select2.min.js}"></script>
    <script th:src="@{/plugins/select2/js/select2totree.js}"></script>
    <script th:src="@{/plugins/toastr-alert/toastr.min.js}"></script>
    <script th:src="@{/plugins/toastr-alert/toastrMassage-self.js}"></script>


</head>

</html>