<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="mainHeader">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <!--<link th:href="@{/bootstrap3.0/bootstrap/css/bootstrap.css}" rel="stylesheet"/>-->
    <link th:href="@{/newPlugins/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/newPlugins/css/bootstrap-reset.css}" rel="stylesheet"/>
    <link th:href="@{/newPlugins/assets/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/newPlugins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css}" rel="stylesheet" type="text/css" media="screen"/>
    <link th:href="@{/newPlugins/css/owl.carousel.css}" rel="stylesheet"/>
    <link th:href="@{/newPlugins/css/slidebars.css}" rel="stylesheet"/>
    <link th:href="@{/newPlugins/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/newPlugins/css/style-responsive.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/layui/css/layui.css}" rel="stylesheet">

    <link th:href="@{/bootstrap3.0/bootstrapTree/bootstrap-treeview.min.css}" rel="stylesheet"/>

    <!--<script th:src="@{/jquery/jquery-3.2.1.min.js}" type="text/javascript"></script>-->
    <script th:src="@{/newPlugins/js/jquery.js}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>

    <script th:src="@{/newPlugins/js/html5shiv.js}"></script>
    <script th:src="@{/newPlugins/js/respond.min.js}"></script>
    <![endif]-->

    <script th:src="@{/newPlugins/js/bootstrap.min.js}" type="text/javascript"></script>
    <!-- js placed at the end of the document so the pages load faster -->
    <script th:src="@{/newPlugins/js/jquery.dcjqaccordion.2.7.js}" type="text/javascript"></script>

    <script th:src="@{/newPlugins/js/jquery.scrollTo.min.js}"></script>
    <script th:src="@{/newPlugins/js/jquery.nicescroll.js}" type="text/javascript"></script>
    <script th:src="@{/newPlugins/js/jquery.sparkline.js}" type="text/javascript"></script>
    <script th:src="@{/newPlugins/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js}"></script>
    <script th:src="@{/newPlugins/js/owl.carousel.js}"></script>
    <script th:src="@{/newPlugins/js/jquery.customSelect.min.js}"></script>
    <script th:src="@{/newPlugins/js/respond.min.js}"></script>

    <!--right slidebar-->
    <script th:src="@{/newPlugins/js/slidebars.min.js}"></script>

    <!--common script for all pages-->
    <script th:src="@{/newPlugins/js/common-scripts.js}"></script>

    <!--script for this page-->
    <script th:src="@{/newPlugins/js/sparkline-chart.js}"></script>
    <script th:src="@{/newPlugins/js/easy-pie-chart.js}"></script>
    <script th:src="@{/newPlugins/js/count.js}"></script>
    <script th:src="@{/bootstrap3.0/bootstrapTree/bootstrap-treeview.min.js}"></script>


</head>

</html>