<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>
<body>
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    <div class="layui-header" lay-filter="test1" style="background-color: #1E9FFF">
        <div class="layui-logo"><span></span></div>
        <ul class="layui-nav layui-layout-left" id="topMenu">

        </ul>
        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item">
                <a href="javascript:" id="onlineNum">在线人数：1</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:">个人账号</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:" id="modInfo">修改信息</a></dd>
                    <dd><a href="javascript:" id="modPassword">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:" id="lockPage">锁屏</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:" id="loginOut">退出</a>
            </li>
        </ul>
    </div>

    <!-- 左侧导航区域 -->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" id="treeUl">

            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="margin-top: 0px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="nth-tabs" id="editor-tabs"></div><!--使用时只需此标签，class固定,id自定义-->
                </div>
            </div>
        </div>
    </div>

    <!--<div class="layui-footer footer">-->
    <!--&lt;!&ndash; 底部固定区域 &ndash;&gt;-->
    <!--<span> 这里可以搞一个信息滚动，比如某某登录了，或者重要信息提醒，代办事项信息也可以滚动</span>-->
    <!--</div>-->
</div>
<script>
    var nthTabs;
    nthTabs = $("#editor-tabs").nthTabs();
    $(function () {
        $("#loginOut").on("click", function () {
            window.location.href = "/login/logOut";
        });
        initTreeMenu();

        //一个低门槛的演示,更多需求看源码
        //基于bootstrap tab的自定义多标签的jquery实用插件，滚动条依赖jquery.scrollbar，图标依赖font-awesome
        nthTabs.addTab({
            id: 'a',
            title: '<i class="fa fa-home fa-lg"></i>',
            content: '这是首页',
            active: true,
            allowClose: false,
        });
    });

    function initTreeMenu() {
        $.post("/sysMenu/getMenuList", {flag: "up"}, function (data) {
            $('#treeUl').treeview({
                data: data,         // data is not optional
                levels: 2,
                backColor: '#2b3844',
                borderColor: '#2b3844', // '#dddddd'
                color: '#d7d7d7',
                selectedColor: '#ffffff',
                selectedBackColor: '#718D7C',
                highlightSelected: true,
                onhoverColor: '#35424e',
                selectedIcon: 'glyphicon glyphicon-arrow-right'
            });
            $('#treeUl').treeview('collapseAll', {silent: true});
            $('#treeUl').on('nodeSelected', function (event, data) {
                var url = data.href;
                console.log(data);
                if (url == null || url == "") {
                } else {
                    var height = $(window).height() - 105;
                    //获取所有选项卡
                    var list = nthTabs.getTabList();
                    var arr = [];
                    var b = ("#" + data.id);
                    for (var i = 0; i < list.length; i++) {
                        var tabId = list[i].id;
                        if (tabId == b) {
                            console.log(data.id);
                            nthTabs.setActTab(b);
                            arr.push(tabId);
                            continue;
                        }
                    }
                    if (arr.length == 0) {
                        nthTabs.removeActive()
                        nthTabs.addTab({
                            id: data.id,
                            title: data.text,
                            content: '<iframe frameborder="0" scrolling="no" allowTransparency="false" style=" background-color:#fff9ec;" src="' + url + '" width="100%" height="' + height + 'px" ></iframe>',
                            active: true,
                        });
                    } else {
                        nthTabs.setActTab(b);
                    }
                }
            });
        });
    }


</script>
</body>
</html>