<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader">
    <style type="text/css">
        .dialogModalH {
            max-height: 200px;
            overflow: scroll;
        }

        .modal-backdrop {
            filter: alpha(opacity=0) !important;
            opacity: 0 !important;
        }
    </style>
</head>
<body>
<div id="wrapperZlc">
    <div id="page-innerZlc">
        <div style="margin-bottom: 20px;">
            <form class="form-inline">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="usernameForm" class="lable-margin">菜单名称</label>
                        <input type="text" name="menuName" class="form-control" id="usernameForm" placeholder="">
                    </div>
                </div>

                <button type="button" class="btn btn-default" onclick="sysMenuModle.SearchData();"> 查询</button>
                &nbsp;&nbsp;&nbsp;
                <!--<a class="btn btn-primary" data-toggle="modal" onclick="sysMenuAddEdit.toAdd();">新增</a>-->
                <a class="btn btn-primary" data-toggle="modal" onclick="sysMenuModle.toAddMenuPage();">新增</a>
            </form>

        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="SysMenutable">
                </table>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjs/sys/sysMenu/SysMenuList.js}"></script>
<script>
    $(function () {
        // ToastrMessage.successMessage("成功了", "1000");
    });

    function test() {
        var selRows = $table.bootstrapTable("getSelections");
        if (selRows.length == 0) {
            alert("请至少选择一行");
            return;
        }

        var postData = "";
        $.each(selRows, function (i) {
            postData += this.id;
            if (i < selRows.length - 1) {
                postData += "， ";
            }
        });
        alert("你选中行的 id 为：" + postData);

    }

    function add(id) {
        alert("add 方法 , id = " + id);
    }

    function del(id) {
        alert("del 方法 , id = " + id);
    }

    function update(id) {
        alert("update 方法 , id = " + id);
    }


</script>
</body>
</html>