<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>
<style type="text/css">
    #Form .table td {
        border: 0px;
    }
</style>
<!-- 列表-->
<body>
<div class="table-responsive">
    <table class="table">
        <tr>
            #foreach($fr in $fieldRemarks.entrySet())
                <td class="zlc-table-td-text">${fr.value}</td>
                <td width="200px">
                    <input type="text" name="${fr.key}" class="form-control" id="${fr.key}" placeholder=""/>
                </td>
            #end
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-default"
                        onclick="${className.substring(0,1).toLowerCase()}${className.substring(1)}Modle.SearchData();">
                    查询
                </button>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" data-toggle="modal"
                   onclick="${className.substring(0,1).toLowerCase()}${className.substring(1)}Modle.toAdd${className}();">新增</a>
            </td>
        </tr>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="${className.substring(0,1).toLowerCase()}${className.substring(1)}table">
        </table>
    </div>
</div>

<script th:src="@{${jsP}${className.substring(0,1).toLowerCase()}${className.substring(1)}/${className}List.js}"></script>
</body>
</html>