var ${className.substring(0,1).toLowerCase()}${className.substring(1)}AddEdit = (function () {
    $(function () {
        ${className.substring(0,1).toLowerCase()}${className.substring(1)}FormValidator();
    });
    
    function ${className.substring(0,1).toLowerCase()}${className.substring(1)}FormValidator() {
        $('#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form').bootstrapValidator({
//        live: 'disabled',
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
##                #foreach($f in $fieldList)
                #foreach($f in $fieldRemarks.entrySet())
                    ${f.key}: {
                        container: '#${f.key}Error',
                        validators: {
                            notEmpty: {
                                message: '${f.value}不可为空！',
                            }
                        }
                    },
                #end
            }
        });
    }


    function doAdd${className}() {
        var bootstrapValidator = $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form").data('bootstrapValidator');
        //手动触发验证
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()) {
            //异步请求改同步
            $.ajaxSettings.async = false;
            $.post("/${className.substring(0,1).toLowerCase()}${className.substring(1)}/doAdd${className}", $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form").serialize(), function (data) {
                if (data.code == 0) {
                    document.getElementById('${className.substring(0,1).toLowerCase()}${className.substring(1)}Form').reset();
                    $('#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form').data('bootstrapValidator').destroy();
                    ${className.substring(0,1).toLowerCase()}${className.substring(1)}FormValidator();
                    ToastrMessage.successMessage(data.msg, "1000", "toast-top-center");
                    $("#flagInput").val("success");
                } else {
                    ToastrMessage.errorMessage(data.msg, "2000", "toast-top-center");
                    $("#flagInput").val("error");
                }
            });
            $.ajaxSettings.async = true;
        }
    }


    function doEdit${className}() {
        var bootstrapValidator = $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form").data('bootstrapValidator');
        //手动触发验证
        bootstrapValidator.validate();
        if (bootstrapValidator.isValid()) {
            $.ajaxSettings.async = false;
            $.post("/${className.substring(0,1).toLowerCase()}${className.substring(1)}/doEdit${className}", $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form").serialize(), function (data) {
                document.getElementById('${className.substring(0,1).toLowerCase()}${className.substring(1)}Form').reset();
                if (data.code == 0) {
                    document.getElementById('${className.substring(0,1).toLowerCase()}${className.substring(1)}Form').reset();
                    $('#${className.substring(0,1).toLowerCase()}${className.substring(1)}Form').data('bootstrapValidator').destroy();
                    ${className.substring(0,1).toLowerCase()}${className.substring(1)}FormValidator();
                    ToastrMessage.successMessage(data.msg, "1000", "toast-top-center");
                    $("#flagInput").val("success");
                    $("#${className}table").bootstrapTable('refresh');
                } else {
                    ToastrMessage.errorMessage(data.msg, "2000", "toast-top-center");
                    $("#flagInput").val("error");
                }
            });
            $.ajaxSettings.async = true;
        }
    }

    return {
        doAdd${className}: doAdd${className},
        doEdit${className}: doEdit${className},
    };
})();