var ${className.substring(0,1).toLowerCase()}${className.substring(1)}Modle = (function () {
    $('#${className.substring(0,1).toLowerCase()}${className.substring(1)}table').bootstrapTable({
        url: '/${className.substring(0,1).toLowerCase()}${className.substring(1)}/get${className}Data',
        queryParamsType: '',              //默认值为 'limit' ,在默认情况下 传给服务端的参数为：offset,limit,sort
        queryParams: queryParams,
        method: "post",
        contentType: "application/x-www-form-urlencoded",
        undefinedText: "",//当数据为 undefined 时显示的字符
        pagination: true,
        pageNumber: 1,
        pageSize: 5,
        pageList: [10, 25, 50, 100],
        sidePagination: "server",         //分页方式：client客户端分页，server服务端分页（*）
        striped: false,                   //是否显示行间隔色
        cache: false,
        //uniqueId: "id",                       //每一行的唯一标识，一般为主键列
        height: 500,
        paginationPreText: "上一页",
        paginationNextText: "下一页",
        search: false,
        sortable: true, //是否启用排序
        sortOrder: "asc",//排序方式
        ## sortName: 'username',//根据哪个字段排序
        showColumns: true,
        showRefresh: true,
        detailView: false,
        ## detailFormatter: function (index, row) {
        ##     return "账号:" + row.username + ";名字：" + row.realname + "；电话：" + row.phone;
        ## },
        columns: [
            {checkbox: true, width: '5%'},
            #foreach($column in $fieldRemarks.entrySet())
            {
                field: '${column.key}',
                title: '${column.value}',
                sortable: true
                align: 'center',
                visible: true
            },
            #end
            {
                title: '操作',
                field: 'id',
                width: '20%',
                align: 'center',
                formatter: opeate
            }
        ]
    });

    function opeate(value, row, index) {
        var html = '<a title="修改" href="javascript:void(0)" onclick="${className.substring(0,1).toLowerCase()}${className.substring(1)}Modle.toEdit${className}(\'' + row.id + '\')"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>';
        html += '&nbsp;&nbsp;&nbsp;&nbsp;<a title="查看" href="javascript:void(0)" onclick="${className.substring(0,1).toLowerCase()}${className.substring(1)}Modle.toView${className}(\'' + row.id + '\')"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>';
        html += '&nbsp;&nbsp;&nbsp;&nbsp;<a title="删除" href="javascript:void(0)" onclick="${className.substring(0,1).toLowerCase()}${className.substring(1)}Modle.doDel${className}(\'' + row.id + '\')" ><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>';
        return html;
    }

    //查询条件
    function queryParams(params) {
        return {
            pageSize: params.pageSize,
            pageIndex: params.pageNumber,
    #foreach($fr in $fieldRemarks.entrySet())
        ${fr.key}:$.trim($("#${fr.key}").val()),
    #end
        };
    }

    //查询事件
    function SearchData() {
        $('#${className.substring(0,1).toLowerCase()}${className.substring(1)}table').bootstrapTable('refresh', {pageNumber: 1});
    }

    function toAdd${className}() {
        parent.BootstrapDialog.show({
            title: '新增',
            message: $('<div></div>').load('/${className.substring(0,1).toLowerCase()}${className.substring(1)}/toadd${className}'),
            draggable: true,//移动弹框
            type: BootstrapDialog.TYPE_DEFAULT,
            size: BootstrapDialog.SIZE_WIDE,
            closable: true,//右上角的关闭按钮
            // cssClass: ' ',
            closeByBackdrop: false,//点击遮罩关闭弹框
            closeByKeyboard: false,
            buttons: [{
                label: '保存',
                cssClass: 'btn-primary',
                action: function (dialogRef) {
                    dialogRef.getModalBody().find('form').find("button").trigger('click');
                    $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}table").bootstrapTable('refresh');
                    var val = dialogRef.getModalBody().find('#flagInput').val();
                    if (val == "success") {
                        SearchData();
                        dialogRef.close();
                    }

                }
            }, {
                icon: 'glyphicon glyphicon-eye-close',
                label: '关闭',
                action: function (dialog) {
                    dialog.close();
                }
            }]
        });
    }

    function toEdit${className}(id) {
        parent.BootstrapDialog.show({
            title: '修改',
            message: $('<div></div>').load('/${className.substring(0,1).toLowerCase()}${className.substring(1)}/toEdit${className}?id=' + id),
            draggable: true,
            type: BootstrapDialog.TYPE_DEFAULT,
            size: BootstrapDialog.SIZE_WIDE,
            closable: true,//右上角的关闭按钮
            // cssClass: '',
            backdrop: false,
            buttons: [{
                label: '保存',
                cssClass: 'btn-primary',
                action: function (dialogRef) {
                    dialogRef.getModalBody().find('form').find("button").trigger('click');
                    var val = dialogRef.getModalBody().find('#flagInput').val();
                    $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}table").bootstrapTable('refresh');
                    if (val == "success") {
                        dialogRef.close();
                    }
                }
            }, {
                icon: 'glyphicon glyphicon-eye-close',
                label: '关闭',
                action: function (dialog) {
                    dialog.close();
                }
            }]
        });
    }

    function toView${className}(id) {
        BootstrapDialog.show({
            title: '查看',
            message: $('<div></div>').load('/${className.substring(0,1).toLowerCase()}${className.substring(1)}/toEdit${className}?id=' + id),
            draggable: false,
            type: BootstrapDialog.TYPE_DEFAULT,
            size: BootstrapDialog.SIZE_WIDE,
            closable: true,//右上角的关闭按钮
            // cssClass: ' ',
        });
    }
//删除
    function doDel${className}(id) {
        BootstrapDialog.show({
            size: BootstrapDialog.SIZE_SMALL,
            type: BootstrapDialog.TYPE_DANGER,
            message: '你确认删除吗？',
            buttons: [{
                label: '确认删除',
                cssClass: 'btn-primary',
                action: function (dialogItself) {
                    $.post("/${className.substring(0,1).toLowerCase()}${className.substring(1)}/doDel${className}", {id: id}, function (data) {
                        dialogItself.close();
                        if (data.code == 0) {
                            ToastrMessage.successMessage(data.msg, "1000", "toast-top-center");
                            $("#${className.substring(0,1).toLowerCase()}${className.substring(1)}table").bootstrapTable('refresh');
                        } else {
                            ToastrMessage.successMessage(data.msg, "2000", "toast-top-center");

                        }
                    });
                }
            }, {
                label: '取消',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }]
        });
    }

    return {
        SearchData: SearchData,
        toAdd${className}: toAdd${className},
        toEdit${className}: toEdit${className},
        toView${className}: toView${className},
        doDel${className}: doDel${className},
    }
})();

