<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--<link type="text/css" rel="stylesheet" th:href="@{../easyui154/themes/material/easyui.css}"/>-->
    <script type="text/javascript" th:src="@{jquery/jquery.js}" ></script>
    <script th:inline="javascript">
        $(function () {
            alert(1);
        });
    </script>
</head>
<body>
向前看！
<p th:text="${name}"></p>

</body>
</html>