<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>
<body class="container">
<form class="form-horizontal" id="sysLogForm" >
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">用户名称</label>
        <div class="col-sm-10">
            <input type="text" name="userName" class="form-control" id="inputEmail3" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="userIp" class="col-sm-2 control-label">用户IP地址</label>
        <div class="col-sm-10">
            <input type="text" name="userIp" class="form-control" id="userIp" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="userMac" class="col-sm-2 control-label">用户Mac地址</label>
        <div class="col-sm-10">
            <input type="text" name="userMac" class="form-control" id="userMac" placeholder="">
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="oporateTime" class="col-sm-2 control-label">操作时间</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" name="oporateTime" class="form-control" id="oporateTime" placeholder="">-->
        <!--</div>-->
    <!--</div>-->

    <div class="form-group">
        <label for="opotateType" class="col-sm-2 control-label">操作类型</label>
        <div class="col-sm-10">
            <input type="text" name="opotateType" class="form-control" id="opotateType" placeholder="">
        </div>
    </div>
    <div class="form-group">
        <label for="oporateComment" class="col-sm-2 control-label">操作内容</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="oporateComment" id="oporateComment" rows="3"></textarea>
        </div>
    </div>
    <button type="button" id="saveForm" onclick="sysLogAddEdit.doAdd()">baocun</button>
</form>
</body>
<script th:src="@{/js/sys/sysLog/SysLogAdd_Edit.js}"></script>
<script>
    $(function () {
        var h = ($(window).height() - 250);
        $(".form-horizontal").css({"height": h + "px"});


    });
</script>
</html>