package ${mapperP};

import ${entityP}.${className};
import com.zhou.mapper.SqlMapper.CommonMapper;
import org.springframework.stereotype.Repository;


@Repository
public interface ${className}Mapper<T extends $className> extends CommonMapper<T> {
}