<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>

<body>
<style type="text/css">
    #sysUserForm .table td {
        border: none
    }
</style>
<div style="height: auto;">
    <form class="form-horizontal" id="sysUserForm" style="margin-left: 30px;margin-right: 30px;">
        <!--<div class="form-group">-->
        <div class="table-responsive">
            <table class="table ">
                <tbody id="roleTr" th:if="${roleList !=null}" th:each="item:${roleList}">
                <tr>
                    <td class="zlc-table-td" style="text-align: right;"><span th:text="${item.roleName}"></span></td>
                    <td>
                        <div>
                            <input type="checkbox" name="roleId">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button onclick="doAdd()">ti</button>
    </form>
</div>

</body>
<script>
    $(function () {
        $('input[name="roleId"]').bootstrapSwitch({
            onText: "<i class='fa fa-check fa-lg'></i>",
            offText: "<i class='fa fa-times fa-lg'>&nbsp;</i>",
            onColor:"success",
            // offColor:"info",
            size:"small",
            onSwitchChange: function (event, state) {
                if (state == true) {
                    $(this).val("1");
                } else {
                    $(this).val("2");
                }
            }
        })
    });

    function doAdd() {
        var josn = $("#sysUserForm").serialize();
        alert(JSON.stringify(josn));
    }
</script>
</html>