<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>
<body>
<style type="text/css">
    #sysUserForm .table td {
        border:none
    }
</style>
<div style="height: 500px;overflow-y: scroll">
    <form class="form-horizontal" id="sysUserForm" style="margin-left: 30px;margin-right: 30px;">
        <div class="form-group">
            <div class="table-responsive">
                <table class="table ">
                    <tbody>
                    <tr>
                        <td class="zlc-table-td "></td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="id" class="form-control" id="id" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="idError"></div>
                        </td>

                        <td class="zlc-table-td">姓名</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="username" class="form-control" id="username" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="usernameError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">密码</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="password" class="form-control" id="password" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="passwordError"></div>
                        </td>

                        <td class="zlc-table-td">邮箱</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="email" class="form-control" id="email" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="emailError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">地址</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="address" class="form-control" id="address" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="addressError"></div>
                        </td>

                        <td class="zlc-table-td">联系方式</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="phone" class="form-control" id="phone" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="phoneError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">年龄</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="age" class="form-control" id="age" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="ageError"></div>
                        </td>

                        <td class="zlc-table-td">性别</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="sex" class="form-control" id="sex" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="sexError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">QQ号</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="qq" class="form-control" id="qq" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="qqError"></div>
                        </td>

                        <td class="zlc-table-td">微信号</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="weixin" class="form-control" id="weixin" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="weixinError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">身份证号</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="useridenty" class="form-control" id="useridenty" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="useridentyError"></div>
                        </td>

                        <td class="zlc-table-td">是否删除：0未删除，1：已删除</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="isdel" class="form-control" id="isdel" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="isdelError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">是否启用：0不启用，1：启用</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="isdisable" class="form-control" id="isdisable" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="isdisableError"></div>
                        </td>

                        <td class="zlc-table-td">创建时间</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="createtime" class="form-control" id="createtime" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="createtimeError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">修改时间</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="updatetime" class="form-control" id="updatetime" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="updatetimeError"></div>
                        </td>

                        <td class="zlc-table-td">登录状态</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="loginstatus" class="form-control" id="loginstatus" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="loginstatusError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">描述</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="meno" class="form-control" id="meno" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="menoError"></div>
                        </td>

                        <td class="zlc-table-td">真实姓名</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="realname" class="form-control" id="realname" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="realnameError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">所属机构</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="userOrg" class="form-control" id="userOrg" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="userOrgError"></div>
                        </td>

                        <td class="zlc-table-td">身高</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="userHeight" class="form-control" id="userHeight" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="userHeightError"></div>
                        </td>

                    </tr>
                    <tr>
                        <td class="zlc-table-td">头像路径</td>
                        <td>
                            <div class="form-group zlc-form-group-margin">
                                <input type="text" name="picPath" class="form-control" id="picPath" placeholder="">
                            </div>
                        </td>
                        <td>
                            <div id="picPathError"></div>
                        </td>

                    </tbody>
                </table>
            </div>

            <button type="button" onclick="sysUserAdd.doAdd()" hidden="hidden"></button>
        </div>
    </form>

</div>

</body>
<script th:src="@{/webjs/sys/sysUser/sysUserAdd_Edit.js}"></script>
<script>
    $(function () {
        //必须要添加的   否则select2 搜索框无法输入
        $(".bootstrap-dialog").removeAttr("tabindex");
        var h = ($(window).height() - 250);
        $(".form-horizontal").css({"height": h + "px"});
    });
</script>
</html>