<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>

<body>
<div id="wrapperZlc">
    <div id="page-innerZlc">
        <div style="">
            <form class="form-inline">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="usernameForm" class="lable-margin">姓名</label>
                        <input type="text" class="form-control" id="usernameForm" placeholder="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="useridentyForm" class="lable-margin">身份证号</label>
                        <input type="text" class="form-control" id="useridentyForm">
                    </div>
                </div>
                <button type="button" class="btn btn-default" onclick="userModle.SearchData();">查询</button>
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" data-toggle="modal" onclick="userModle.toAddUserPage();">新增</a>
            </form>

        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="table2">
                </table>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjs/sys/sysUser/sysUserList.js}"></script>
</body>
</html>