<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/common/main_head::mainHeader"></head>
<body>
<style type="text/css">
    #sysDeptForm .table td {
        border: none
    }
</style>
<div style="height: 500px;overflow-y: auto">
    <form class="form-horizontal" id="sysDeptForm" style="margin-left: 30px;margin-right: 30px;">

        <div class="table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td class="zlc-table-td">部门名称</td>
                    <td>
                        <div class="form-group zlc-form-group-margin">
                            <input type="text" name="deptName" class="form-control" id="deptName" placeholder=""/>
                        </div>
                    </td>
                    <td>
                        <div id="deptNameError"></div>
                    </td>

                </tr>
                <tr>
                    <td class="zlc-table-td">上级名称</td>
                    <td>
                        <div class="form-group zlc-form-group-margin">
                            <select id="parentId" style="width: 100%" name="parentId" class="form-control">
                            </select>
                        </div>
                    </td>
                    <td>
                        <div id="parentIdError"></div>
                    </td>
                </tr>
                <tr>
                    <td class="zlc-table-td">部门LOGO</td>
                    <td>
                        <div class="form-group zlc-form-group-margin">
                            <input type="text" name="deptLogo" class="form-control" id="deptLogo" placeholder=""/>
                        </div>
                    </td>
                    <td>
                        <div id="deptLogoError"></div>
                    </td>
                </tr>
                <tr>
                    <td class="zlc-table-td">部门图片</td>
                    <td>
                        <div class="form-group zlc-form-group-margin">
                            <input type="text" name="deptPicPath" class="form-control" id="deptPicPath" placeholder=""/>
                        </div>
                    </td>
                    <td>
                        <div id="deptPicPathError"></div>
                    </td>

                </tr>
                <tr>
                    <td class="zlc-table-td">部门级别</td>
                    <td>
                        <div class="form-group zlc-form-group-margin">
                            <input type="text" name="deptLevel" class="form-control" id="deptLevel" placeholder=""/>
                        </div>
                    </td>
                    <td>
                        <div id="deptLevelError"></div>
                    </td>


                </tr>

                <tr>
                    <td class="zlc-table-td">是否启用</td>
                    <td valign="middle">
                        <div class="form-group zlc-form-group-margin">
                            <label>
                                <input type="radio" name="isEnableRadio" placeholder="" value="0" checked>
                                <strong style="cursor: pointer;margin-left: 5px;">启用</strong>
                            </label>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label>
                                <input type="radio" name="isEnableRadio" placeholder="" value="1">
                                <strong style="cursor: pointer;margin-left: 5px;">不启用</strong>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div id="isEnableRadioError"></div>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

        <button type="button" onclick="sysDeptAddEdit.doAddSysDept()" hidden="hidden"></button>

    </form>
    <!--表单提交是否成功标识-->
    <input type="hidden" id="flagInput"/>
</div>
</body>
<script th:src="@{/webjs/sys/sysDept/SysDeptAdd_Edit.js}"></script>
<script th:inline="javascript">
    $(function () {
        //必须要添加的   否则select2 搜索框无法输入
        $(".bootstrap-dialog").removeAttr("tabindex");
        $("#parentId").select2();

        $.post("/sysDept/getAllDeptList", {}, function (data) {
            $("#parentId").select2ToTree({treeData: {dataArr: data}, maximumSelectionLength: 5});

        });
    });
</script>
</html>